<!DOCTYPE html>
<html>
<head>
  <title>Expense</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style>input {width: 400px; height: 24px; font-family: Verdana;font-size:13px; }</style>
</head>
<body>

<%= yield %>

</body>
</html>
